body {
    font-family: Arial;
    font-size: 10pt;
}

a:visited {
    color: #337ab7;
}

table {
    border: 1px solid #ccc;
    margin: auto;   
}

    table th {
        background-color: #490b41;
        color: #FFF;
        font-weight: bold;
    }

    table th, table td {
        padding: 5px;
        border-color: #ccc;
    }

.FullNameHeader a {
    color: white;
}

.FullNameHeader a:hover {
    text-decoration: underline !important;
}

 


    table tr:nth-child(odd) {
        background-color: #edcee9
    }

    table tr:nth-child(even) {
        background-color: white
    }



.Pager {
    margin-top: 10px;
}

    .Pager span {
        color: #333;
        background-color: #F7F7F7;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        width: 20px;
        margin-right: 3px;
        line-height: 150%;
        border: 1px solid #ccc;
    }

    .Pager a {
        text-align: center;
        display: inline-block;
        width: 20px;
        border: 1px solid #ccc;
        color: #fff;
        color: #333;
        margin-right: 3px;
        line-height: 150%;
        text-decoration: none;
    }

.highlight {
    background-color: #08350D;
}


.tablegrid {
margin:auto;
}

.gridClients {
align-items: center;

}

/*input:placeholder-shown {
  color: orange;
}*/


/*для плейсхолдера фильтров*/
    ::-webkit-input-placeholder { /* Safari, Chrome and Opera */
      color: grey;
      font-style:italic;
      opacity: 0.7;
    }

    :-moz-placeholder { /* Firefox */
      color: grey;
      font-style:italic;
      opacity: 0.7;
    }

    :-ms-input-placeholder { /* IE 10+ */
      color: grey;
      font-style:italic;
      opacity: 0.7;
    }

.FunctionalButton:hover {
    background-image: url('~/Images/AddButton-hover.png')
}

/*.FullNameCol {
    column-width: 400px;

}*/

.ui-datepicker-trigger {

height: 22px;
}